<div class="container">
  <nav>
    <img src="assets/images/logo.png" alt="logo" class="logo">
    <ul>
      <li><a href="">Home</a></li>
      <li><a href="">Contact</a></li>
      <li><a href="">Profile</a></li>
      <li><a href="">Setting</a></li>
    </ul>
    <img src="assets/images/user.png" alt="profile" class="profile" id="profile">

    <!-- profile dropdown code -->
    <div class="sub-menu-wrap" id="dropdown">
      <div class="sub-menu">
        <div class="user-info">
          <img src="assets/images/user.png" alt="">
          <h3>James Aldrino</h3>
        </div>
        <hr>
        <a href="#" class="sub-menu-link">
          <img src="assets/images/profile.png" alt="">
          <p>Edit Profile</p>
          <span>></span>
        </a>
       
        <a href="#" class="sub-menu-link">
          <img src="assets/images/setting.png" alt="">
          <p>Settings & privacy</p>
          <span>></span>
        </a>
        <a href="#" class="sub-menu-link">
          <img src="assets/images/help.png" alt="">
          <p>Help & Support</p>
          <span>></span>
        </a>
        <a href="#" class="sub-menu-link">
          <img src="assets/images/logout.png" alt="">
          <p>Logout</p>
          <span>></span>
        </a>
      </div>
   </div>
   <!-------------------------------->
  </nav>
</div>